html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'open sans';
    overflow-x: hidden;

}

/*
h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}
*/

p {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*IFRAME + BOOKING*/
.main_content {
    height: 100%;
}

.planway {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}



.booking_header h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    letter-spacing: 3.5px;
    font-style: normal;
    font-size: 4rem;
    color: #3745ee;
    padding-bottom: 20px;
    padding-top: 50px;
}


.iframe {
    /*    transform: scale(0.80);*/
    margin: 0;
    padding: 0;
    border: none;
}

.top-bar {
    display: none;
}


/*forside test*/
.grid-container {
    overflow: hidden;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img1 img2";
}

.grid_con1 {
    display: grid;
    grid-area: img1;
}

#fp_video {
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    max-width: none;
    object-fit: cover;
    z-index: -1;
}


@media (min-aspect-ratio: 16/9) {

    #fp_video {
        width: 100vw;
        height: auto;
    }
}


@media (max-aspect-ratio: 16/9) {
    #fp_video {
        width: auto;
        height: 100vh;
    }
}

@supports (object-fit: cover) {
    #fp_video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.grid_con1 img {
    background-size: cover;
    height: 100%;
}

.grid_con2 {
    background: url(imgs/GIDA/aligida/DSC_1876.jpg);


    background-repeat: no-repeat;
    background-size: cover;
    margin: 14vw 9vw;
    background-position: center;
    display: grid;
    grid-area: img2;
}


.gida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    cursor: pointer;
    transform: scale(1.9);

}

.gida h1 {
    font-size: 17em;
    color: #3745ee;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 700;
    font-style: normal;

}


/*NAV*/

.main_nav {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0px 130px 100px 100px;
    box-sizing: border-box;
    transition: 0.5s;
}

.main_nav.black {
    background: rgba(0, 0, 0, 0.8);

    height: 80px;
    padding: 10px 50px;
}

.main_nav.black a.active {
    color: #3745ee;
}

.logo {

    float: left;
    width: 100px;

}

.logo img {
    height: 80px;
    transition: 0.5s;
}

.main_nav.black .logo img {
    height: 60px;

}

.main_nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.main_nav ul li {
    list-style: none;

}

.main_nav ul li a {
    line-height: 80px;
    color: #000;
    padding: 2px 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: neue-haas-grotesk-text,
        sans-serif;
    font-weight: 400;
    font-style: normal;

}

.main_nav.black ul li a {
    color: #fff;
    line-height: 60px;
    opacity: 1;

}

.main_nav ul li a.active,
.main_nav ul li a:hover {
    color: #3745ee;
    /*    text-decoration: underline;*/
}


/*KNAP*/
#container {
    position: absolute;
    cursor: pointer;
    right: 6.5vw;
    bottom: 4vw;
}




.btn {
    border-radius: 50px 50px;
    border: #000;
    color: #EE4037;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    font-family: neue, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn span {
    position: relative;
    transition: 0.4s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/*SECTION*/

/*
section {
    font-family: serif;
    padding: 100px 200px;
}
*/



/*footer*/
footer {
    background-color: #000;
    color: #e2e2e2;
    margin-top: 1vw;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 0px;
    justify-content: flex-start;
    align-content: center;
    background-color: #000;
    width: 100vw;
    height: 200px;
    margin: 0 auto;
    max-width: 1200px;
    line-height: 20px;
    padding-right: 90px;

}

footer h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

footer p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 0.7em;
}


.omgida_footer img {
    max-width: 30px;
    padding-top: 5px;
    padding-right: 3px;
    cursor: pointer;
}

/*BURGERMENU*/

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 0;
    overflow: visible;
    position: absolute;
    z-index: 2;
}



#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    color: #3745ee;
    display: none;
    /*    height: 4px;*/
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    font-size: 0.9em;
}


#burger-menu p {
    font-family: urbane, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#burger-menu a {
    font-family: urbane, sans-serif;
    font-weight: 600;
    font-style: normal;
}


#burger-menu span:before,
#burger-menu span:after {
    /*    content: "";*/
}

#burger-menu span {
    right: -30px;
    top: 30px;
    width: 27px;
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}

#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 30px;
    width: 27px;
    content: "";
    height: 4px;
    background: #3745ee;
    z-index: 1000;


}

#burger-menu.close span p {
    display: none;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    content: "";
    height: 4px;
    background: #3745ee;
    z-index: 1000;


}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
    content: "";
    height: 4px;

}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;

}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.8);
}

#menu li {
    list-style: none;
}

#menu a {
    color: #3745ee;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
    text-transform: uppercase;
}


/*STYLES HTML SIDE*/

.body_styles {
    background-color: #000;
}

#low_fade {
    height: 100vh;
    padding: 0;
    position: relative;

}

.grid-low {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    grid-template-areas: "low1 low2""low3 low3";
}

.low1 {
    grid-area: low1;
    background: url(imgs/GIDA/low/DSC_1979.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.low2 {
    grid-area: low2;
    background: url(imgs/GIDA/mid/DSC_1966.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
}

.low3 {
    grid-area: low3;
    background: url(imgs/GIDA/low/DSC_1978.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.next_button {
    position: absolute;
    bottom: 2vw;
    left: 1vw;

}

.next1 {
    text-decoration: none;
    color: #EE4037;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
    writing-mode: vertical-rl;
    font-size: 2rem;
}

.styles_header h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    letter-spacing: 3.5px;
    font-style: normal;
    font-size: 4rem;
    color: #3745ee;
    position: absolute;
    top: 14%;
    left: 10%;
}

.low_fade_header {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#booking_fixed {
    position: absolute;
    cursor: pointer;
    right: 2vw;
    bottom: 2vw;
    z-index: 100;
}

.btn_fixed {
    border-radius: 50px 50px;
    border: #000;
    color: #EE4037;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn_fixed span {
    position: relative;
    transition: 0.4s;
}

.btn_fixed span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn_fixed:hover span {
    padding-right: 25px;
}

.btn_fixed:hover span:after {
    opacity: 1;
    right: 0;
}


#mid_fade {
    height: 100vh;
    padding: 0;
    position: relative;
}

.grid-mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mid1 mid2""mid1 mid3";
}

.mid1 {
    grid-area: mid1;
    background: url(imgs/GIDA/mid/DSC_1933.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.mid2 {
    grid-area: mid2;
    background: url(imgs/GIDA/mid/DSC_1929.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mid3 {
    grid-area: mid3;
    background: url(imgs/GIDA/mid/DSC_2047.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mid_fade_header {
    position: absolute;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}



#high_fade {
    height: 100vh;
    padding: 0;
    position: relative;
}

.grid-high {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "high1 high2 high3";
}

.high1 {
    grid-area: high1;
    background: url(imgs/GIDA/high/DSC_2144.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
}

.high2 {
    grid-area: high2;
    background: url(imgs/GIDA/high/DSC_2159.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.high3 {
    grid-area: high3;
    background: url(imgs/GIDA/high/DSC_2132.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.high_fade_header {
    position: absolute;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#tapered {
    height: 100vh;
    padding: 0;
    position: relative;
}

.grid-tapered {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "tape1 tape3""tape2 tape3";
}

.tape1 {
    grid-area: tape1;
    background: url(imgs/GIDA/tapp/DSC_2110.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: ;
}

.tape2 {
    grid-area: tape2;
    background: url(imgs/GIDA/tapp/DSC_2105.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tape3 {
    grid-area: tape3;
    background: url(imgs/GIDA/tapp/DSC_2113.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.tape_fade_header {
    position: absolute;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*OM OS*/
.grid-om {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

.grid_om1 {
    background: url(imgs/GIDA/aligida/DSC_1876.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-area: left;
    height: 100vh;
}

.grid_om2 {
    grid-area: right;
    display: grid;
}

.om_txt {
    display: flex;
    flex-direction: column;
    margin: 14vw 9vw;
}

.om_txt h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    letter-spacing: 3.5px;
    font-style: normal;
    font-size: 4rem;
    color: #3745ee;
    float: top;
}

.om_txt p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;



}

.grid_kontakt {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

.left {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 0.5fr 0.5fr 1.3fr;
    grid-template-areas: "header header header""info1 info2 info3""googlemaps googlemaps googlemaps";
    grid-area: left;
}

.info_header {
    grid-area: header;
    padding: 50px 20px 0px 40px;
}

.info_txt1 {
    grid-area: info1;
    padding: 0 20px 0px 40px;
}

.info_txt2 {
    grid-area: info2;
    padding: 0 20px 0px 20px;
}

.info_txt3 {
    grid-area: info3;
    padding: 0 20px 0px 20px;
}


.google {
    width: 100%;
    height: 100%;
}

.google_maps {
    width: 100%;
    height: 88%;
    padding: 0 20px 0px 20px;
}


.left h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    letter-spacing: 3.5px;
    font-style: normal;
    font-size: 4rem;
    color: #3745ee;
    padding-bottom: 20px;
}

.left p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.right {
    /*
    background: url(imgs/gida_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
*/
    display: grid;
    grid-area: right;
    height: 100vh;
    margin: 60px 20px;

}

@media (min-aspect-ratio: 16/9) {

    #videoSplash {
        width: 100%;
        height: auto;
    }
}


@media (max-aspect-ratio: 16/9) {
    #videoSplash {
        max-width: 700px;
        height: 100%;
    }
}




/*SERVICES*/
.splash_service,
.splash_produkt,
.splash_om {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;

}

.splash_img_om {
    margin: 150px 50px 80px 50px;
    width: 100%;
    background: url(imgs/GIDA/aligida/gida_portr%C3%A6t.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.splash_img {
    margin: 150px 50px 80px 50px;
    width: 100%;
    background: url(imgs/GIDA/78869019_441601553439427_3974776062449025024_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.splash_img h1,
.splash_img_om h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    letter-spacing: 3.5px;
    font-style: normal;
    font-size: 4rem;
    color: #3745ee;
    position: absolute;
    top: 14%;

}

.services {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.service_txt1,
.service_txt2,
.service_txt3 {
    padding-right: 45px;
    padding-left: 45px;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0px;
    flex-grow: 1;
    flex-basis: 333px;
}

.services p,
.services h1 {
    padding: 10px;
}



/*PRODUKTER*/
.img_produkt {
    margin: 150px 50px 80px 50px;
    width: 100%;
    background: url(imgs/produkter_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img_produkt h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    letter-spacing: 3.5px;
    font-style: normal;
    font-size: 4rem;
    color: #3745ee;
    position: absolute;
    top: 14%;
}



.text_center {
    margin: 5vw 0 8vw 0;
}


#knapper {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
}

.text_center button {
    margin: 1vw;
    cursor: pointer;
    border: none;
    font-size: 0.8rem;
    color: #EE4037;
    font-weight: 500;
}

.text_center button:hover {
    transition: 0.5s ease all;
    color: #000;
}

.produkt_boxes {
    margin: 10px 45px 45px;
}

.billede {
    width: 100%;
    padding: 1vw;
}

.title,
.pris {
    padding: 1vw;
}

#container_service {
    position: absolute;
    cursor: pointer;
    right: 1vw;
    bottom: 3vw;
}


/*singleview*/


.luk {
    position: absolute;
    top: 5%;
    right: 8%;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #0000ff;
    cursor: pointer;
}

.produkt_sv {
    margin: 3vw 3vw;
    padding: 0;
    /*
    display: grid;
    grid-template-columns: 47vw 47vw;
    justify-content: space-between;
*/
}

.produkt_sv article {
    margin-bottom: 4vw;
    padding: 10vw;
}

.imgvidere {
    width: 100%;
}

.singleview h2 {
    text-align: left;
    font-size: 1.8xrem;
}

p.info {
    margin: 1vw;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}


h2.title {
    text-align: left;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 1.5rem;
    /*    padding: 50px;*/
}

article {
    padding: 0;
}

.imgsingle {
    width: 100%;
    justify-content: flex-end;
    max-width: 600px;
}

h3.pris {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: ;
    /*    padding-left: 50px;*/
}



.imgvidere {
    max-width: 500px;
    order: 1;
    margin: 4vw;
}




/*MEDIA QUERRYS*/

/*FRA STOR TIL LILLE*/
@media screen and (max-width: 937px) {
    .grid_con2 {
        display: none;
    }

    .low_fade_header,
    .high_fade_header,
    .tape_fade_header,
    .mid_fade_header {
        font-size: 1rem;
    }

    .main_nav {
        display: none;
    }

    .grid_con1 {
        width: 100vw;
    }

    .gida {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -45%);
    }

    .gida h1 {
        font-size: 7.5em;
    }

    .btn {
        font-size: 1.5em;
    }

    #container {
        right: 1vw;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
        display: block;
    }

    .grid_om1 {
        display: none;
    }

    .grid_om2 {
        width: 100vw;
    }

    .low2,
    .low3 {
        display: none;
    }

    .om4 {
        display: none;
    }

    .om3 {
        width: 100vw;
    }

    .grid-low,
    .grid-mid,
    .grid-high,
    .grid-tapered {
        display: block;
    }

    .footer_grid {
        padding: 0;
        justify-content: center;
        margin: 0;
    }

    .left {
        width: 100vw;
    }

    .right {
        display: none;
    }

    .om_txt {
        padding-right: 0;
        padding-left: 50px;
    }

    h2.title {
        font-size: 2rem;
        padding: 50px;
    }

    h3.pris {
        font-size: 1.5rem;
        padding-left: 50px;
    }

    .beskrivelse {
        padding-left: 50px;
    }

    .next_button {
        display: none;
    }


}


/*FRA LILLE TIL STOR*/
@media screen and (min-width: 937px) {

    .booking_header h1,
    .om_txt h1,
    .styles_header h1,
    .splash_img h1,
    .img_produkt h1,
    .splash_img_om h1 {
        font-size: 8rem;
    }

    .splash_img h1,
    .img_produkt h1,
    .styles_header h1,
    .splash_img_om h1 {
        top: 8.5%;
    }

    .styles_header h1 {
        left: 3%;
    }

    .services {

        flex-direction: row;
    }

    .service_txt1,
    .service_txt2,
    .service_txt3 {
        padding-right: 55px;
        padding-left: 55px;
    }

    #knapper {
        width: 600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .text_center button {
        font-size: 1.5rem;
    }

    .produkt_boxes {
        display: grid;
        grid-template-columns: 31vw 31vw 31vw;
        justify-content: space-between;
        padding: 0;
    }

    .produkt_sv {
        margin: 3vw 3vw;
        padding: 0;
        display: grid;
        grid-template-columns: 47vw 47vw;
        justify-content: space-between;
    }

    .luk {
        top: 27%;
        left: 4%;
    }

    .low1 {
        height: 65vh;
    }

    #container_service {
        right: 6.5vw;
    }

    #fp_video {
        grid-area: img1;
        width: 50vw;
    }



}

/*OM GIDA NY*/


.omgida {
    display: flex;
    flex-direction: column;
}

.omgida_txt {
    padding: 10px 45px;
    padding-bottom: 45px;

}

.omgida_txt p,
.omgida_txt h1 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}

.omgida_video {
    padding: 10px 45px 45px;
}

#om_video {
    width: 100%;
    max-width: none;
    object-fit: cover;
    z-index: -1;

}

@supports (object-fit: cover) {

    #om_video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*
.omgida_img img {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
}
*/

.img_om {
    background: url(imgs/GIDA/aligida/DSC_1876.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.kontakt_om {
    display: flex;
    padding-bottom: 20px;
}


.kontakt_oplysninger {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.kontakt_oplysninger img {
    max-width: 50px;
}

.kontakt_oplysninger p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kontakt_oplysninger h2 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: bold;
    padding-top: 10px;
}

@media screen and (min-width: 937px) {

    .omgida {
        display: flex;
        flex-direction: row;
    }

    .omgida_txt {
        flex-basis: 500px;
        flex-grow: 1;
        width: 50vw;
    }

    .omgida_img {
        display: flex;
        flex-basis: 500px;
        flex-grow: 1;
        height: 100%;
        padding-bottom: 20px;
    }

    .grid-om-gide {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
    }

    .img_om {
        grid-area: left;
    }


    .kontakt_oplysninger {
        flex-direction: row;
    }

    .kontakt_oplysninger p {
        padding-right: 20px;
    }

    .kontakt_oplysninger h2 {
        padding-right: 20px;
    }

    .videoDiv {
        width: 100%;
    }

    .kontakt_header {
        padding-bottom: 50px;
        font-size: 8rem;
    }


}
